# Get editor completions based on the config schema
"$schema" = 'https://starship.rs/config-schema.json'

# Inserts a blank line between shell prompts
add_newline = true

[cmd_duration]
style = "bold #f1fa8c"

# Disable the package module, hiding it from the prompt completely
[package]
disabled = true

[python]
format = 'via [${symbol}(${version} )(\($virtualenv\) )]($style)'
symbol = "î˜† "
style = "bold #f3e10b"
